body{

	margin: 0px;
	padding: 0px;

}


/************************NAV**********************/

nav{
	border-bottom: 2px solid rgba(208, 208, 205, 0.74);
	position: relative;
	margin: 30px 0px;
	padding-bottom: 12px; 
}

nav table tr td a{
	text-decoration: none;
	color: blue;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}


#logo{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	float: left;
	margin-top: -20px;
	margin-left: 10%;
	border: 1px solid rgba(208, 208, 205, 0.74);
}

#barra{
	width: 50%;
	margin: 0 25%;
	font-size: 150%;
	text-align:center; 
}

td{
	width: 25%;
}



/***********************INICIO****************************/

/*******************CARROUSEL*****************/

#myCarouselCustom{
	width: 800px;
	height: 400px;
	margin: 8% auto;
}

.item{
	width: 800px;
	height: 400px;
}





/***************METODOS DE PAGOS***************/

#pagos{
	text-align: center;
	font-family: 'Questrial', sans-serif;
	/*border-bottom: 1px solid rgba(55, 53, 255, 0.74);
	border-top: 1px solid rgba(55, 53, 255, 0.74);*/
	margin-bottom: 8%;
	padding: 30px 0;
}


#pagos h2{
	font-size: 40px;
	padding-bottom: 20px;
	
}

#pagos span{
	font-size: 30px;
	
}

#pagos ul li{
	list-style: none;
	display: inline-block; 
	padding: 4% 5%;
}

#pagos ul li img{
	width: 80px;
	height: 40px;
}

#pagos ul li img.tam{
	width: 60px;
	height: 40px;
}





/**************CONTACTENOS***************/


#contacto{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(47,74,227,1) 100%);
	width: auto;
	height: 20%;
	margin-top: -60px;
	
}


#contacto p{
	text-align: center;
	font-size: 27px;
	padding-top: 20px;
}

#contacto div.iconos{
	padding: 20px 42%;
	font-size: 35px;
	text-decoration: none;
}



/****************QUIENES SOMOS*****************/


#quienes{
	width: 500px;
	height: 90%;
	margin: 80px 32%; 
}

#quienes h2{
	font-size: 40px;
	text-align: center;
}

#quienes p{
	font-size: 20px;
	padding-top: 20px;
	text-align: justify;
}



/***************PRODUCTOS*******************/



#productos{
	margin: 25px 5%;
}

/*.carrito {
	display: none;
	width: 400px;
	height: 300px;
	
	margin: 20px;
}
*/

#solapas{
	border:1px solid black;
	margin: 10% 100px;
	max-width: auto;
}


#solapas input.butProductos {
	background-color: rgba(118, 129, 221, 1);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.71);
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.71);
	margin: 25px 25%;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	width: 50%;
}



div#solapas .ninja{
	display: none;
}


#solapas div#pescFrequi, 
		div#pescCongelado, 
		div#polloCongelado,
		div#mariscos,
		div#especiales,
		div#picaCongeladas,
		div#unGan,
		div#salAdh,
		div#mcCain{
	margin: 0 9%;
}


#solapas div#pescFrequi img, 
		div#pescCongelado img, 
		div#polloCongelado img,
		div#mariscos img,
		div#especiales img,
		div#picaCongeladas img,
		div#unGan img,
		div#mcCain img{
	width: 300px;
	height: 200px;
	object-fit: cover;
	
}


#solapas div#pescFrequi article, 
		div#pescCongelado article,
		div#polloCongelado article,
		div#mariscos article,
		div#especiales article,
		div#picaCongeladas article,
		div#unGan article,
		div#salAdh article,
		div#mcCain article{
	float: left;
	padding: 5px 5px;
	text-align: center;
}


#solapas div#salAdh img{
	width: 300px;
	height: 600px;
	object-fit: cover;
}









/********************FOOTER**********************/


footer{
	height: 200px;
	border-top: 3px solid rgba(208, 208, 205, 0.74); 
	margin-top: 10%;
}


#logoFoot{
	width: 150px;
	height: 150px;
	border: 3px solid rgba(208, 208, 205, 0.74);
	border-radius: 40%;
	margin: 2% 3% 2% 6%;
}


.tablaPie{
	text-align: center;
	float: right;
	margin-right: 6%;
	margin-top: 2%;
	font-size: 15px;
	text-decoration: none;
	color: black;
	width: 70%;
}

.tablaPie tr th{
	padding-top: 5px;
	text-align: center;

}



.tablaPie tr a{
	text-decoration: none;
	color: black;
}

.tablaPie tr td{
	padding-top: 10px;
}

.tablaPie tr i.fa-facebook, i.fa-instagram{
	padding: 0 10px 0 0;
}


