body{

	margin: 0px;
	padding: 0px;

}


/************************NAV**********************/

nav{
	border-bottom: 2px solid rgba(208, 208, 205, 0.74);
	position: relative;
	margin: 30px 0px;
	padding-bottom: 12px; 
}

nav  table tr td a{
	text-decoration: none;
	color: blue;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}


#logo{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	float: left;
	margin-top: -20px;
	margin-left: 10%;
	border: 1px solid rgba(208, 208, 205, 0.74);
}

#barra{
	width: 50%;
	margin: 0 25%;
	font-size: 150%;
	text-align:center; 
}

td{
	width: 25%;
}



/***********************INICIO****************************/

/*******************CARROUSEL*****************/

#myCarouselCustom{
	width: 800px;
	height: 400px;
	margin: 8% auto;
}

.item{
	width: 800px;
	height: 400px;
}





/***************METODOS DE PAGOS***************/

#pagos{
	text-align: center;
	font-family: 'Questrial', sans-serif;
	/*border-bottom: 1px solid rgba(55, 53, 255, 0.74);
	border-top: 1px solid rgba(55, 53, 255, 0.74);*/
	margin-bottom: 8%;
	padding: 30px 0;
}


#pagos h2{
	font-size: 40px;
	padding-bottom: 20px;
	
}

#pagos span{
	font-size: 30px;
	
}

#pagos ul li{
	list-style: none;
	display: inline-block; 
	padding: 4% 5%;
}

#pagos ul li img{
	width: 80px;
	height: 40px;
}

#pagos ul li img.tam{
	width: 60px;
	height: 40px;
}





/**************CONTACTENOS***************/


#contacto{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(47,74,227,1) 100%);
	width: auto;
	height: 20%;
	margin-top: -60px;
	
}


#contacto p{
	text-align: center;
	font-size: 27px;
	padding-top: 20px;
}

#contacto div.iconos{
	padding: 20px 42%;
	font-size: 35px;
	text-decoration: none;
}



/****************QUIENES SOMOS*****************/


#quienes{
	width: 500px;
	height: 90%;
	margin: 80px 32%; 
}

#quienes h2{
	font-size: 40px;
	text-align: center;
}

#quienes p{
	font-size: 20px;
	padding-top: 20px;
	text-align: justify;
}



/***************PRODUCTOS*******************/



#productos{
	margin: 25px 5%;
}

.carrito {
	display: none;
	width: 400px;
	height: 300px;
	/*border-radius: 50%;*/
	margin: 20px;
}




/********************FOOTER**********************/


footer{
	height: 200px;
	border-top: 3px solid rgba(208, 208, 205, 0.74); 
}


#logoFoot{
	width: 150px;
	height: 150px;
	border: 3px solid rgba(208, 208, 205, 0.74);
	border-radius: 40%;
	margin: 2% 0 2% 6%;
}


.tablaPie{
	text-align: center;
	float: right;
	margin-right: 6%;
	margin-top: 2%;
	font-size: 15px;
	text-decoration: none;
	color: black;
	width: 70%;
}

.tablaPie tr th.menu{
	padding-left: 70px;
	padding-top: 5px;
}

.tablaPie tr th.otro{
	padding-top: 5px;
	padding-left: 50px;
}

.tablaPie tr th.c{
	padding-left: 70px;	
}

.tablaPie tr th.r{
	padding-left: 60px;	
}


.tablaPie tr a{
	text-decoration: none;
	color: black;
}

.tablaPie tr td{
	padding-top: 10px;
}

.tablaPie tr i.fa-facebook, i.fa-instagram{
	padding: 0 10px 0 0;
}